<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Datos del producto</h1>
        <ul id="datos"></ul>
    </div>

    <script>
        const template = Handlebars.compile(`
        {{ each products}}
        <li> {{this}}</li>
        {{/each}}
        `)

        const HTML = template({
            products: ["compu", "popo", "lklk"],
        });
        document.querySelector("#datos").innerHTML = HTML;
    </script>
</body>
</html>